# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.data/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cloudflare
.wrangler
.dev.vars
wrangler.local.jsonc

# SSL certificates
key.pem
cert.pem
*.pem

# Test coverage
coverage

# Editor
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
